.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  max-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.MuiFormControl-root{
  width: 100%;
}

.MuiSvgIcon-root {
  margin-right: 10px;
}

.expand-arrows {
  transition: 0.7s;
}

.rotate-right {
  transform: rotate(180deg);
}

.v-header{
  max-width: 100px;
  min-width: 60px;
  font-size: 24px;
  background-color: rgba(0,0,0,0.1);
  height: 9em;
  line-height: 7em;
}

#primary-bar .MuiInputLabel-root, #primary-bar .MuiInputBase-input {
  color: #fff
}